<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controle_de_Estoque_RN.Properties.Settings.mydbLocal"
            connectionString="server=127.0.0.1;user id=root;password=GUB986_134/-/ul;persistsecurityinfo=True;database=mydb"
            providerName="MySql.Data.MySqlClient" />
        <add name="Controle_de_Estoque_RN.Properties.Settings.mydbRemoto"
            connectionString="server=45.62.212.17;user id=gabriel;password=gabriel;persistsecurityinfo=True;database=mydb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>